{% load i18n %}
<div class="row">
 <div class="span12">
  <div class="input-append">
   <input id="editor_q" class="input span8" type="text" placeholder="{% trans "Page name" %}">
   <button id="btn-search-editor" type="button" class="btn">{% trans "Search" %}</button>
  </div>
 </div>
</div>

<div class="row">
 <div class="span9">
  <input id="editor-page" type="hidden" value="">
  {% include "editor/toolbar.html" %}
  <textarea id="editor-text" class="span9 editor" rows="20"></textarea>
  <input id="editor-comment" class="input span9" type="text" placeholder="{% trans "Comment" %}">

  <div class="btn-toolbar">
   <div class="btn-group">
    <button id="btn-publish-editor" class="btn btn-primary">{% trans "Publish" %}</button>
    <button id="btn-reinit-editor" class="btn">{% trans "Cancel" %}</button>
   </div>
   <div class="btn-group">
    <button id="btn-minor-editor" data-toggle="button" class="btn">{% trans "Minor edit" %}</button>
   </div>
   <!--
   <div class="btn-group">
    <a class="btn" disabled href="">{% trans "View" %}</a>
   </div>
   --!>
  </div>

 </div>

 <div id="editor-messages" class="span2"></div>
</div>
