{% load i18n %}

{% if w.dbuser.id %}
 <h3>{{ w.nick }} - <a href="{{ w.site.siteinfo.base }}">{{ w.site.siteinfo.sitename }}</a></h3>
{% else %}
<h3>{% trans "No configured user." %}</h3>
{% endif %}

<div class="span5">
 <ul id="user-list" class="unstyled">
  {% include 'user_list.html' %}
 </ul>
 <div class="btn-group">
  <button class="btn btn-primary" id="btn-choose-wikiuser">{% trans "Choose" %}</button>
  <button class="btn" id="btn-get-wikiuser">{% trans "Modify" %}</button>
  <button class="btn" id="btn-get-form-wikiuser">{% trans "Add" %}</button>
 </div>
 <hr>
 <div id="user-messages">
 </div>
</div>

<div id="user-form" class="span6">
 {% include 'user_form.html' %}
</div>
