{% if User.id %}
 <h3>{{ w..nick }} sur <a href="{{ w.site.siteinfo.base }}">{{ w.site.siteinfo.sitename }}</a></h3>
{% else %}
 <h3>Aucun utilisateur configuré</h3>
{% endif %}

<div class="span5">
 <ul id="user-list" class="unstyled">
  {% include 'user_list.html' %}
 </ul>
 <div class="btn-group">
  <button class="btn btn-primary" id="btn-choose-wikiuser">Choisir</button>
  <button class="btn" id="btn-get-wikiuser">Modifier</button>
  <button class="btn" id="btn-get-form-wikiuser">Ajouter</button>
 </div>
 <hr>
 <div id="user-messages">
 </div>
</div>

<div id="user-form" class="span6">
 {% include 'user_form.html' %}
</div>
