{% extends 'base/base.html' %}
{% load i18n %}

{% block body %}

<script>
var csrf = "{{ csrf_token }}";
</script>


<div class="row">
 <div class="well center span12">

  <ul class="nav nav-pills">
   <li class="active"><a id="tab-home" href="#home" data-toggle="tab">{% trans "Home" %}</a></li>
   <li><a id="tab-action" href="#action" data-toggle="tab">{% trans "Action" %}</a></li>
   <li><a id="tab-editor" href="#editor" data-toggle="tab">{% trans "Editor" %}</a></li>
   <li><a id="tab-contrib" href="#contrib" data-toggle="tab">{% trans "Contributions" %}</a></li>
  </ul>

 <div class="tab-content">
  <div class="tab-pane active" id="home">{% include 'home.html' %}</div>
  <div class="tab-pane" id="action">{% include 'action.html' %}</div>
  <div class="tab-pane" id="editor">{% include 'editor/index.html' %}</div>
  <div class="tab-pane" id="contrib">{% include 'contrib/index.html' %}</div>
  <div class="tab-pane" id="settings">...</div>
 </div>

 </div>
</div>

{% endblock %}
