{% load i18n %}
<div class="span3">
 <input type="text" id="page_q" placeholder="{% trans "Search" %}"/>
 <select id="search-type">
  <option value="0">{% trans "Articles" %}</option>
  <option value="14">{% trans "Categories" %}</option>
  <option value="2">{% trans "Users' pages" %}</option>
  <option value="10">{% trans "Templates" %}</option>
  <option value="content">{% trans "In content of articles" %}</option>
  <option value="references">{% trans "Page's references" %}</option>
 </select>

 <select multiple size="15" id="search-pages">
 </select>

 <select id="search-pages-action">
  <option>---</option>
  <option value="add">{% trans "Add" %}</option>
  <option value="delete">{% trans "Remove" %}</option>
  <option value="delete-all">{% trans "Remove all" %}</option>
  <option value="select-all">{% trans "Select all" %}</option>
  <option value="unselect-all">{% trans "Unselect all" %}</option>
  <option value="get-page-links">{% trans "Get links" %}</option>
 </select>
</div>
