<div class="span3">
 <input type="text" id="page_q" placeholder="Rechercher"/>
 <select id="search-type">
  <option value="0">Les articles</option>
  <option value="14">Les catégories</option>
  <option value="10">Les modèles</option>
  <option value="content">Dans le contenu des articles</option>
 </select>

 <select multiple size="15" id="search-pages">
 </select>

 <select id="search-pages-action">
  <option>---</option>
  <option value="add">Ajouter</option>
  <option value="delete">Enlever</option>
  <option value="delete-all">Tout enlever</option>
  <option value="select-all">Tout sélectionner</option>
 </select>
</div>

