<div id="div-action-move-category" style="display: none;">
 <div class="input-append">
  <input type="text" id="category-move-from" placeholder="Ancienne catégorie"/>
  <button rel="category-move-from" class="btn btn-check-page btn-check-category">Vérifier</button>
 </div>
 <div class="input-append">
  <input type="text" id="category-move-to" placeholder="Nouvelle catégorie"/>
  <button rel="category-move-to" class="btn btn-check-page btn-check-category">Vérifier</button>
  <button id="btn-move-category" class="btn btn-primary">Déplacer</button>
 </div>
</div>
