{% load i18n %}
<div id="div-action-move-category" style="display: none;">
 <div class="input-append">
  <input type="text" id="category-move-from" placeholder="{% trans "Old category" %}"/>
  <button rel="category-move-from" class="btn btn-check-page btn-check-category">{% trans "Check" %}</button>
 </div>
 <div class="input-append">
  <input type="text" id="category-move-to" placeholder="{% trans "New category" %}"/>
  <button rel="category-move-to" class="btn btn-check-page btn-check-category">{% trans "Check" %}</button>
  <button id="btn-move-category" class="btn btn-primary">{% trans "Rename" %}</button>
 </div>
</div>
